<template>
    <v-flex xs6>
        <v-card :to="`/blog/${blog.id}`">
            <v-img :src="blog.photo ? apiDomain+blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
            <v-card-title class="fill-height align-end" v-text="blog.title">          
            </v-card-title>
            </v-img>
            <v-card-actions>
            <v-progress-linear color="blue-grey" height="7px"></v-progress-linear>
            </v-card-actions>
            <v-card-actions>
            <span>{{blog.title.substring(0,15)}}...</span> 
            </v-card-actions>
        
        
        </v-card>
      
    </v-flex>
    
</template>

<script>
import { mapGetters,mapActions } from 'vuex';

export default {
    data : function(){ 
        return{
        apiDomain : 'https://demo-api-vue.sanbercloud.com',        
        }    
    },
    props : ['blog'],
    computed : {
        ...mapGetters({
            token : 'auth/token',
        })
    },
    methods : {
        ...mapActions({
            setAlert : "alert/set",
        }),
        hapus : function(){
            console.log(this.blog.id)
            const config = {
                            method : 'post',
                            url : `${this.apiDomain}/api/v2/blog/${this.blog.id}`,
                            params : {_method : "DELETE"},                                    
                            headers : {
                                "Authorization" : "Bearer " + this.token,
                                }
                            }

                    this.axios(config)
                        .then(response => {
                            console.log(response)                             
                            this.setAlert({
                                    status : true,
                                    color : "success",
                                    text : "Anda Berhasil Menghapus Blog"
                                })

                        })
                        .catch (error=>{
                            console.log(error)
                            this.setAlert({
                                    status : true,
                                    color : "error",
                                    text : "Anda Gagal Menghapus Blog"
                                })
                            })

        }
    },   
}
</script>