<template>

    <keep-alive>
        <v-dialog
            v-model="dialog"
            fullscreen 
            persistent hide-overlay            
            transition="dialog-bottom-transition" >

            <component :is="currentComponent" @closed="setDialogStatus()"> </component>
            
        </v-dialog>

    </keep-alive>

</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import Login from './Login'
import Alert from './Alert'

export default {
    components : {
       // Login : () => import('./Login.vue')
       Login : Login,
       Alert : Alert
    },
    computed : {
        ...mapGetters({
            dialogStatus : 'dialog/status',
            currentComponent : 'dialog/component',
        }),
        dialog : {
            get(){ return this.dialogStatus },
            set(value){ this.setDialogStatus(value) }
        }
    },
    methods : {
        ...mapActions({
            setDialogStatus : 'dialog/setStatus',
            setAlert : 'alert/set'
        }),
    }
}
</script>