<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div style="width: 300px; background-color: lightgrey; padding: 20px;;">
            <div v-if="errors.length > 0">
                Pesan Error :
             <p  v-for="error in errors">
                {{error}}
             </p> 
             
            </div>
                <form @submit.prevent="submitForm()">
                Nama : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="nama" ref="nama"><br>
                Address : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="address" ref="address"><br>
                No.HP : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="nomorHP" ref="nomorHP"><br>
                <div v-if="buttonStatus=='submit' ">
                <input type="submit" value="SUBMIT">
                </div>
                <div v-else-if="buttonStatus=='update' ">
                <input type="button" value="UPDATE" @click="updateMember(idEdit)">
                <input type="button" value="CANCEL" @click="clearForm()">
                </div>
                <div v-else-if="buttonStatus=='upload' ">
                <input type="file" name="SEARCH PHOTO" ref="photo" ><br>
                <input type="button" value="UPLOAD" @click="uploadFile(idEdit)">
                <input type="button" value="CANCEL" @click="clearForm()">
                </div>
                </form>

        </div>
        
        <br>
         

        
        <table border=1>
            <tr v-for= "member of members ">
                <td>
                    <img width=100 v-bind:src="member.photo_profile?photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'  " />
                </td>
                <td>
                    Name : {{member.name}} <br>
                    Address : {{member.address}} <br>
                    No.HP : {{member.no_hp}}<br>

                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="deleteMember(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                </td>

            </tr>
        </table>
    </div>
 
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    var vm = new Vue({
       el: '#app',
       data: {         
         nama : "",
         address : "",
         nomorHP : "",
         members : [],
         photoDomain : "http://demo-api-vue.sanbercloud.com",
         buttonStatus : "submit",
         idEdit : null,
         errors : []
       },
       computed : {
 
       },
       methods : {
           formValidation : function(){
                if(this.nama.length < 1){
                    this.errors.push("nama tidak boleh kosong")
                    this.$refs.nama.focus()
                }
                if(this.nama.length > 10){
                    this.errors.push("nama tidak boleh lebih dari 10 karakter")
                    this.$refs.nama.focus()
                }
                if(this.address.length < 1){
                    this.errors.push("address tidak boleh lebih kosong")
                    this.$refs.address.focus()
                }
                if(this.address.length > 10){
                    this.errors.push("address tidak boleh lebih dari 10 karakter")
                    this.$refs.address.focus()
                }
                if(this.nomorHP.length < 1){
                    this.errors.push("nomorHP tidak boleh kosong")
                    this.$refs.nomorHP.focus()
                }
                if(this.nomorHP.length > 10){
                    this.errors.push("nomorHP tidak boleh lebih dari 10 karakter")
                    this.$refs.nomorHP.focus()
                }
           },
           submitForm : function(){
                //console.log(`nama : ${this.nama} Address : ${this.address} nomor HP : ${this.nomorHP}`)
                this.errors=[]
                this.formValidation()
                //console.log(this.errors)
                if(this.errors.length == 0){
                    let formData = new FormData()
                    formData.append('name',this.nama)
                    formData.append('address',this.address)
                    formData.append('no_hp',this.nomorHP)
                    const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                        }

                    axios(config)
                        .then((response)=>{
                            //console.log(response)
                            this.members=response.data.members
                            this.clearForm()
                            this.getMember()
                        })
                        .catch((error)=>{
                            console.log(error)
                        })

                }
                
           },
           clearForm : function(){
               this.nama = ""
               this.address = ""
               this.nomorHP = ""
               this.idEdit = null
               this.buttonStatus = "submit"
           },
           getMember : function(){
               const config = {
                   method : "get",
                   url : "http://demo-api-vue.sanbercloud.com/api/member"
               }

               axios(config)
                    .then((response)=>{
                        //console.log(response)
                        this.members=response.data.members
                    })
                    .catch((error)=>{
                        console.log(error)
                    })

           },
           deleteMember : function(id){
                //console.log(id)
                if(confirm("Mau Menghapus Member Ini?")){
                    const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "DELETE"}
                    }

                    axios(config)
                        .then((response)=>{
                            //console.log(response)
                            this.getMember()
                        })
                        .catch((error)=>{
                            console.log(error)
                        })

                }
                else {}
                
           },
           editMember : function(member){
                this.nama = member.name
                this.address = member.address
                this.nomorHP = member.no_hp
                this.buttonStatus = "update"
                this.idEdit = member.id
           },
           updateMember : function(id){
                //console.log(id)
                this.errors=[]
                this.formValidation()
                if(this.errors.length==0){
                    let formData = new FormData()
                    formData.append('name',this.nama)
                    formData.append('address',this.address)
                    formData.append('no_hp',this.nomorHP)
                    const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "PUT"},
                    data : formData
                    }

                    axios(config)
                        .then((response)=>{
                            //console.log(response)
                            this.buttonStatus = "submit"
                            this.clearForm()
                            this.getMember()
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                }
                
           },
           uploadPhoto : function(member){
                this.nama = member.name
                this.address = member.address
                this.nomorHP = member.no_hp
                this.buttonStatus="upload"
                this.idEdit=member.id
           },
           uploadFile : function(id){
                //console.log(id)
                let file=this.$refs.photo.files[0]
                let formData = new FormData()
                formData.append('photo_profile',file)
                
                const config = {
                   method : "post",
                   url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,                   
                   data : formData
                }

               axios(config)
                    .then((response)=>{
                        //console.log(response)
                        this.buttonStatus = "submit"
                        this.clearForm()
                        this.getMember()
                    })
                    .catch((error)=>{
                        console.log(error)
                    })


           },
       },
       created(){
           this.getMember()
       }
   })
</script>

</body>

</html>