<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message"><button v-if="isactive" @click="tambah" >Add</button><button v-else @click="update(index)">Update</button>
            
    <ul>
        <li v-for="item,index in usersFiltered">{{item.name}}<button @click="edit(index)">Edit</button><button @click="hapus(index)">Delete</button></li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        users : [
            {name: 'Muhammad Iqbal Mobarok'},
            {name: 'Ruby Purwanti'},
            {name: 'Faqih Muhammad'},
        ],
        message : "",
        index : 3,
        isactive : true
      },
      computed : {
        usersFiltered : function(){
          if(this.message==""){
            return this.users
          }
          //else {return this.users.filter(e=>e.name.toLowerCase().includes(this.message.toLowerCase()))}
          else {return this.users}           
        }

      },
      methods : {
          tambah : function(){
              this.users.push({name : this.message})
              this.message=""
          },
          hapus : function(index){
              if(confirm("Are Yoou Sure ? ")){
                this.users.splice(index,1)
              }
                            
          },
          edit : function(index){
              this.message=this.users[index].name
              this.index=index
              this.isactive=false                            
          },
          update : function(index){
              this.users[index].name=this.message
              this.message=""
              this.isactive=true                          
          }
      }
  })
  </script>
</body>
</html>
