<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">        
    <ul>
        <li v-for="item in booksFiltered">{{item}}</li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        books : ['Kalkulus','Fisika','Aljabar'],
        message : ""
      },
      computed : {
        booksFiltered : function(){
          if(this.message==""){
            return this.books
          }
          else {return this.books.filter(e=>e.toLowerCase().includes(this.message.toLowerCase()))}           
        }

      },
      methods : {
      }
  })
  </script>
</body>
</html>
