<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
        All Blogs
    </v-subheader>
  <v-layout wrap>
    <!-- <v-flex v-for="blog in blogs" :key="`blog-${blog.id}`" xs6>
      <v-card :to="`/blog/${blog.id}`">
        <v-img :src="blog.photo ? apiDomain+blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
        <v-card-title class="fill-height align-end" v-text="blog.title">          
        </v-card-title>
        </v-img>
        <v-card-actions>
          <v-progress-linear color="blue-grey" height="7px"></v-progress-linear>
        </v-card-actions>
        <v-card-actions>
          <span>{{blog.title.substring(0,15)}}...</span>
        </v-card-actions>
        
        
      </v-card>
      
    </v-flex> -->

    <blog-item-component v-for="blog in blogs" :key="`blog-${blog.id}`" :blog="blog"></blog-item-component>

  </v-layout>

   <v-pagination
        v-model="page"
        @input="go"
        :length="lengthPage"
        :total-visible="perPage"

      ></v-pagination>
    
  </v-container>
</template>


<script>
import BlogItemComponent from '../components/BlogItemComponent.vue'

export default {
  data : function(){ 
    return{
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    blogs : [],
    page : 0,
    lengthPage : 0,
    perPage : 0,
    }    
  },
  components : {
    'blog-item-component' : BlogItemComponent
  },
  methods : {
    go : function(){
        const config = {
                        method : 'get',
                        url : this.apiDomain + '/api/v2/blog',
                        params : {'page' : this.page}
                        }

        this.axios(config)
            .then(response => {
            //let blogs = response.data
            this.blogs = response.data.blogs.data
            this.page = response.data.blogs.current_page
            this.lengthPage = response.data.blogs.last_page
            this.perPage = response.data.blogs.per_page
            //console.log(response)
             
            })
            .catch (error=>{console.log(error)})

    },
    
    //const api = 'https://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'
    
    //this.axios.get(api).then((response)=>{console.log(response.data)})
  },
  created(){this.go()}
//   created(){
      
//         const config = {
//                         method : 'get',
//                         url : this.apiDomain + '/api/v2/blog',
//                         params : {'page' : this.page}
//                         }

//         this.axios(config)
//             .then(response => {
//             //let blogs = response.data
//             //this.blogs = response.data.blogs
//             console.log(response.data.blogs.current_page)
//             })
//             .catch (error=>{console.log(error)})

    
//   },
}
</script>

