<template>
<div>    
    <v-form ref="form" >
                <v-text-field type="text"  
                label="email" append-icon="mdi-email"  v-model="email" required></v-text-field>
                <v-text-field type="text" counter 
                label="password" v-model="password" ></v-text-field>
                <v-text-field type="text" counter 
                label="name" v-model="name" ></v-text-field>
                <input type="file" name="SEARCH PHOTO" ref="photo" ><br>
                <div class="text-xs-center" style="margin : 10px">
                <v-btn color="success lighten-1" @click="submitForm()">
                    Daftar
                    <v-icon right dark>mdi-account</v-icon>                    
                </v-btn>
                </div> 
    </v-form>    
</div>
    
</template>

<script>
import { mapGetters,mapActions } from 'vuex';

export default {
    data : function(){ 
                        return{                            
                            buttonStatus : 'submit',
                            email : '',
                            password : '',
                            name : '',
                            apiDomain : "https://demo-api-vue.sanbercloud.com",                            
                        }    
                    },
    computed : {
        ...mapGetters({
            token : 'auth/token',
        }),
        
    },
    methods : {
        ...mapActions({
            setAlert : "alert/set",
        }),
        submitForm : function(){
                        let file=this.$refs.photo.files[0]
                        let formData = new FormData()
                        formData.append('email',this.email)
                        formData.append('password',this.password)
                        formData.append('name',this.name)
                        formData.append('photo_profile',file)
                        const config = {
                                        method : 'post',
                                        url : `${this.apiDomain}/api/v2/auth/register`,
                                        data : formData,                                    
                                    }

                        this.axios(config)
                            .then(response => {            
                                //this.blog = response.data.blog
                             console.log(response)
                             this.email=''
                             this.password=''
                             this.name=''
                             this.setAlert({
                                        status : true,
                                        color : "success",
                                        text : "Anda Berhasil Registrasi"
                                    })
                            window.history.back()

                            })
                            .catch (error=>{
                                console.log(error)
                                this.setAlert({
                                        status : true,
                                        color : "error",
                                        text : "Anda Gagal Registrasi"
                                    })
                                })

                },

        },

    
    
}
</script>