<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  </head>
  <body>
    <div id="app">
        <p><button @click="set_telahlogin" >sudahlogin = {{sudahlogin}}</button></p>       
        <p><button @click="set_sayaadmin" >sayaadmin = {{sayaadmin}}</button></p>
        <p><router-link to="/" >LOGIN &nbsp;</router-link>
        <router-link to="/profile">Profile &nbsp;</router-link>
        <router-link to="/admin">Admin &nbsp;</router-link></p>     
    
      <router-view></router-view>
    </div>
    <script>
        let telahlogin = true
        let adalahadmin = true

        const Login = {
        template: `<div><p><b>Ini halaman LOGIN</b></p></div>`
        };
        const Profile = {
        template: `<div><p><B>Ini halaman PROFILE</b></p></div>`
        };
        const Admin = {
        template: `<div><p><b>Ini halaman ADMIN</b></p></div>`
        };
        

        const routes = [
        {
            path: "/",
            component: Login
        },
        {
            path: "/profile",
            component: Profile,
            meta: { requireAuth: true }
        },
        {
            path: "/admin",
            component: Admin,
            meta: { requireAuth: true, requireRole : true }
        }
        ];
        const router = new VueRouter({
        routes
        });
        router.beforeEach((to, from, next) => {
        if (to.matched.some(record=>record.meta.requireAuth)) {
            if (to.matched.some(record=>record.meta.requireRole)){
                if(!(vm.sudahlogin) || !(vm.sayaadmin)){
                    alert("Halaman ini hanya untuk yg sudah login dan role-nya admin")
                    next(false)
                }                
                else {next()} 
            }
            else if (!(vm.sudahlogin)){
                alert("Halaman ini utk yg sudah login")
                next(false)
            }
            else { next()}
        } else {
            next()
        }
        })
         
        
        const vm = new Vue({
        el: "#app",
        data : {
            sudahlogin : false,
            sayaadmin : false
        },
        components : {
           'login' : Login,
           'profile' : Profile
       },
        methods : {    
            set_telahlogin : function(){ this.sudahlogin = !(this.sudahlogin) },
            set_sayaadmin : function(){ this.sayaadmin = !(this.sayaadmin)}        
        },
        router
        });

    </script>
  </body>
</html>