<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div style="width: 300px; background-color: lightgrey; padding: 20px;;">
            <div v-if="errors.length > 0">
                Pesan Error :
             <p  v-for="error in errors">
                {{error}}
             </p> 
             
            </div>
                <form @submit.prevent="submitForm()">
                Nama : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="nama" ref="nama"><br>
                Address : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="address" ref="address"><br>
                No.HP : <br>
                <input v-bind:disabled="buttonStatus=='upload'" type="text" v-model="nomorHP" ref="nomorHP"><br>
                <div v-if="buttonStatus=='submit' ">
                <input type="submit" value="SUBMIT">
                </div>
                <div v-else-if="buttonStatus=='update' ">
                <input type="button" value="UPDATE" @click="updateMember(idEdit)">
                <input type="button" value="CANCEL" @click="clearForm()">
                </div>
                <div v-else-if="buttonStatus=='upload' ">
                <input type="file" name="SEARCH PHOTO" ref="photo" ><br>
                <input type="button" value="UPLOAD" @click="uploadFile(idEdit)">
                <input type="button" value="CANCEL" @click="clearForm()">
                </div>
                </form>

        </div>
        
        <br>
        <!-- {{nama}}<br>{{address}}<br>{{nomorHP}} -->
        <komponentabel></komponentabel>
        <!-- {{$data.variabel_testing}}
        {{$store.state.count}}
        <button @click="tambah">TAMBAH</button> -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src ="https://unpkg.com/vuex"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">    
        import { tabel } from './tabel.js'
        // const tabel = {
        //     template : `<div>        
        //                 <table border=1>
        //                     <tr v-for="member of members" >
        //                         <td><img width=100 v-bind:src="member.photo_profile?'http://demo-api-vue.sanbercloud.com' + member.photo_profile : 'https://dummyimage.com/16:9x1080'  " /></td>
        //                         <td>Nama : {{member.name}}<br>Address : {{member.address}}<br>No.HP : {{member.no_hp}}</td>
        //                         <td><button @click="editMember(member)">Edit</button>
        //                             <button @click="deleteMember(member.id)">Hapus</button>
        //                             <button @click="uploadPhoto(member)">Upload Foto</button>
        //                             </td>
        //                     </tr>
        //                 </table>
        //                 </div>
        //                 `,
        //     data(){return {} },
        //     computed : {
        //         members(){return this.$store.state.members}, 
        //     },
        //     methods : {
        //         komponentambah : function(){
        //             this.$store.dispatch('actions_increment')
        //         },
        //         deleteMember : function(id){
        //             //console.log(id)
        //             if(confirm("Mau Menghapus Member Ini?")){
        //                 const config = {
        //                 method : "post",
        //                 url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
        //                 params : {_method : "DELETE"}
        //                 }

        //                 axios(config)
        //                     .then((response)=>{
        //                         //console.log(response)
        //                         this.$store.dispatch('actions_getMember')
        //                     })
        //                     .catch((error)=>{
        //                         console.log(error)
        //                     })

        //             }
        //             else {}                
        //         },
        //         editMember : function(member){
        //             this.$store.commit('mutations_setnama',member.name)
        //             this.$store.commit('mutations_setaddress',member.address)                    
        //             this.$store.commit('mutations_setnomorHP',member.no_hp)
        //             this.$store.commit('mutations_setbuttonStatus','update')
        //             this.$store.commit('mutations_setidEdit',member.id)                    
        //         },
        //         uploadPhoto : function(member){
        //             this.$store.commit('mutations_setnama',member.name)
        //             this.$store.commit('mutations_setaddress',member.address)
        //             this.$store.commit('mutations_setnomorHP',member.no_hp)
        //             this.$store.commit('mutations_setbuttonStatus','upload')
        //             this.$store.commit('mutations_setidEdit',member.id)                    
        //         },
        //     }
        // }

        const store = new Vuex.Store({
                state: {
                    //count: 0,
                    members : [],
                    nama : "",
                    address : "",
                    nomorHP : "",                    
                    photoDomain : "http://demo-api-vue.sanbercloud.com",
                    buttonStatus : "submit",
                    idEdit : null,
                    errors : []
                },
                mutations: {
                    mutations_increment (state) {
                        this.state.count++
                    },

                    mutations_setnama(state,nama){
                        this.state.nama = nama
                    },
                    mutations_setaddress(state,address){
                        this.state.address = address
                    },
                    mutations_setnomorHP(state,nomorHP){
                        this.state.nomorHP = nomorHP
                    },
                    mutations_setmembers(state,members){
                        this.state.members = members
                    },
                    mutations_setbuttonStatus(state,buttonStatus){
                        this.state.buttonStatus = buttonStatus
                    },
                    mutations_setidEdit(state,idEdit){
                        this.state.idEdit = idEdit
                    },
                    mutations_seterrors(state,errors){
                        this.state.errors.push(errors)
                    },
                    mutations_clearForm(state){                        
                        this.state.nama = "",
                        this.state.address = "",
                        this.state.nomorHP = "", 
                        this.state.buttonStatus = "submit",
                        this.state.idEdit = null,
                        this.state.errors = []
                    },
                    mutations_clearerrors(state){ 
                        this.state.errors = []
                    },

                    mutations_getMember(state,response) {
                        this.state.members = response.data.members
                    }
                },
                actions : {
                    actions_increment(context){
                        context.commit('mutations_increment')
                    },
                    actions_setnama(context,nama){
                        context.commit('mutations_setnama',nama)
                    },

                    actions_getMember(context){
                        const config = {
                                        method : "get",
                                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                                    }

                        axios(config)
                                .then((response)=>{
                                    //console.log(response)
                                    context.commit('mutations_getMember',response)
                                    //this.members=response.data.members
                                })
                                .catch((error)=>{
                                    console.log(error)
                                })
                    },

                }
                })

        const vm = new Vue({
            el : "#app",
            store : store,
            data : {
                variabel_testing : 0
            },
            computed : {
                members(){return this.$store.state.members} ,
                nama : {
                    get(){return this.$store.state.nama},
                    set(nama){this.$store.commit('mutations_setnama',nama)}
                    },
                address : {
                get(){return this.$store.state.address},
                set(address){this.$store.commit('mutations_setaddress',address)}
                },
                nomorHP : {
                get(){return this.$store.state.nomorHP},
                set(nomorHP){this.$store.commit('mutations_setnomorHP',nomorHP)}
                },                  
                photoDomain(){return this.$store.state.photoDomain} ,
                buttonStatus : {
                get(){return this.$store.state.buttonStatus},
                set(buttonStatus){this.$store.commit('mutations_setbuttonStatus',buttonStatus)}
                },
                idEdit : {
                get(){return this.$store.state.idEdit},
                set(idEdit){this.$store.commit('mutations_setidEdit',idEdit)}
                },
                errors : {
                get(){return this.$store.state.errors},
                set(errors){this.$store.commit('mutations_seterrors',errors)}
                },
            },
            components : {
                'komponentabel' : tabel
            },
            methods : {
                tambah : function(){
                    console.log("masuk methods tambah")
                    this.$data.variabel_testing ++
                    this.$store.dispatch('actions_increment')
                },
                formValidation : function(){
                    this.$store.commit('mutations_clearerrors')
                    if(this.nama.length < 1){
                        this.$store.commit('mutations_seterrors','nama tidak boleh kosong')
                        this.$refs.nama.focus()
                    }
                    if(this.nama.length > 10){
                        this.$store.commit('mutations_seterrors','nama tidak boleh lebih dari 10 karakter')                        
                        this.$refs.nama.focus()
                    }
                    if(this.address.length < 1){
                        this.$store.commit('mutations_seterrors','address tidak boleh lebih kosong')                        
                        this.$refs.address.focus()
                    }
                    if(this.address.length > 10){
                        this.$store.commit('mutations_seterrors','address tidak boleh lebih dari 10 karakter')                        
                        this.$refs.address.focus()
                    }
                    if(this.nomorHP.length < 1){
                        this.$store.commit('mutations_seterrors','nomorHP tidak boleh kosong')                        
                        this.$refs.nomorHP.focus()
                    }
                    if(this.nomorHP.length > 10){
                        this.$store.commit('mutations_seterrors','nomorHP tidak boleh lebih dari 10 karakter')                        
                        this.$refs.nomorHP.focus()
                    }
                },
                clearForm : function(){
                    this.$store.commit('mutations_clearForm')                    
                },
                
                submitForm : function(){
                //console.log(`nama : ${this.nama} Address : ${this.address} nomor HP : ${this.nomorHP}`)
                    // this.errors=[]                    
                    this.formValidation()
                    //console.log(this.nama)
                    if(this.errors.length == 0){
                        let formData = new FormData()
                        formData.append('name',this.nama)
                        formData.append('address',this.address)
                        formData.append('no_hp',this.nomorHP)
                        const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData
                            }

                        axios(config)
                            .then((response)=>{
                                //console.log(response)
                                //this.members=response.data.members
                                this.$store.commit('mutations_setmembers',response.data.members)
                                //this.clearForm()
                                this.$store.commit('mutations_clearForm')
                                //this.getMember()
                                this.$store.dispatch('actions_getMember')
                            })
                            .catch((error)=>{
                                console.log(error)
                            })

                    }
                    
                },
                updateMember : function(id){
                //console.log(id)
                //this.$store.commit('mutations_seterrors',[])                
                //this.formValidation()
                    this.formValidation()
                    if(this.$store.state.errors.length==0){
                        let formData = new FormData()
                        formData.append('name',this.$store.state.nama)
                        formData.append('address',this.$store.state.address)
                        formData.append('no_hp',this.$store.state.nomorHP)
                        const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "PUT"},
                        data : formData
                        }

                        axios(config)
                            .then((response)=>{
                                //console.log(response)                            
                                this.$store.commit('mutations_clearForm')
                                this.$store.dispatch('actions_getMember')
                            })
                            .catch((error)=>{
                                console.log(error)
                            })
                    }
                
                },
                uploadFile : function(id){
                    //console.log(id)
                    let file=this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile',file)
                    
                    const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,                   
                    data : formData
                    }

                    axios(config)
                        .then((response)=>{
                            //console.log(response)                            
                            this.$store.commit('mutations_clearForm')
                            this.$store.dispatch('actions_getMember')
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                },               
               
            },
            created(){
                //console.log("masuk created")
                this.$store.dispatch('actions_getMember')
            }
        })
    </script>
</body>
</html>